@model CalculateModel

@{
    ViewData["Title"] = "Calculation results";
}
<h1>@ViewData["Title"]</h1>

<p>
    <span id="calcResult">@Model.CalcResult</span>% of you life has passed with Vladimir Putin.
</p>
